<swiper-container 
loop="true" 
navigation="true" 
slides-per-view="1.4" 
speed="1500"
pagination="true"
effect="cards"
>
    <swiper-slide><img src="./../../../assets/lone-tree-1934897_1280.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="./../../../assets/tree-2888513_1280.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="./../../../assets/tree-736885_1280.jpg" width="100%"></swiper-slide>
</swiper-container>

<swiper-container 
loop="false" 
navigation="true" 
slides-per-view="1" 
speed="500"
pagination="true"
>
    <swiper-slide><img src="./../../../assets/lone-tree-1934897_1280.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="./../../../assets/tree-2888513_1280.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="./../../../assets/tree-736885_1280.jpg" width="100%"></swiper-slide>
</swiper-container>