<swiper-container 
loop="true" 
navigation="true" 
slides-per-view="2" 
speed="1500"
pagination="true"
effect="cards"
>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/BlackWidow.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/Drax.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/DrStrange.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/Groot.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/Hulk.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/MrFantastic.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/Thanos.jpg" height="800px"></swiper-slide>
    <swiper-slide><img src="./../../../assets/the_avengers_in_cool/Wolverine.jpg" height="800px"></swiper-slide>
</swiper-container>